* {
  box-sizing: border-box;
}

.outer-container {
  border: 2px solid green;
}

.inner-block {
  border: 2px solid red;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 100px;
  grid-auto-flow: row;
  grid-auto-rows: 100px;
}

.grid-child {
}
