* {
  box-sizing: border-box;
}

.webSite {
  border: 2px solid green;
}

.inner-block {
  border: 2px solid red;
}

.webSite {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    'b1 b2 b2'
    'b4 b4 b4'
    'b5 b5 b6';
  gap: 10px;
}

.grid-child:nth-child(1) {
  grid-area: b1;
}

.grid-child:nth-child(2) {
  grid-area: b2;
}

.grid-child:nth-child(3) {
  grid-area: b3;
}

.grid-child:nth-child(4) {
  grid-area: b4;
}

.grid-child:nth-child(5) {
  grid-area: b5;
}

.grid-child:nth-child(6) {
  grid-area: b6;
}