* {
  box-sizing: border-box;
}

.outer-container {
  border: 2px solid green;
}

.inner-block {
  border: 2px solid red;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px 40px;
}

.grid-child {
}

.grid-child:nth-child(1) {
  grid-column: 1 / 3;
}

.grid-child:nth-child(3) {
  grid-row: 2 / 4;
}