* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  border: 5px solid green;
  gap: 10px;
}

.child {
  height: 100px;
  border: 5px solid red;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
}

.child1 {
  order: 6;
  align-self:self-start;
}

.child2 {
  order: 5;
}

.child3 {
  order: 4;
}

.child4 {
  order: 3;
}

.child5 {
  order: 2;
}

.par {
  border: 5px solid sienna;
}