* {
  box-sizing: border-box;
}

.outer-container {
  border: 2px solid green;
}

.inner-block {
  border: 2px solid red;
  width: 50px;
  height: 50px;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  grid-auto-flow: row;
  grid-auto-rows: 100px;
  align-items: end;
  justify-items: center;
  justify-content: space-around;
}

.grid-child {
}
